html {
  border: 15px solid #000;
  box-sizing: border-box;
  font-size: 112.5%;
}

@media only screen and (max-width: 600px) {
  html {
    border-width: 5px;
    font-size: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.66;
  color: #6b747a;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", Georgia, serif;
  font-weight: 400;
  line-height: 1.2;
  color: #2c343c;
}

h1 {
  font-size: 2rem;
  line-height: 1.11;
  letter-spacing: -1px
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.875rem;
    letter-spacing: normal;
    line-height: 1.2
  }
}

h2 {
  font-size: 1.66rem;
  letter-spacing: -1px
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
    letter-spacing: normal
  }
}

h3 {
  font-size: 1.33rem
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.25em
  }
}

h4 {
  font-size: 1.11rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: 0.88rem
}

.inner {
  max-width: 800px;
}

header {
  border-bottom: 1px solid #d7d7d7;
}

.navbar-brand {
  font-family: "Noto Serif", Georgia, serif;
  font-size: calc(1vw + 1rem);
  font-weight: 600;
  color: #2c343c;
}

.hero {
  border-bottom: 1px solid #d7d7d7;
  font-family: "Noto Serif", Georgia, serif;
  font-size: 1.33em;
  font-style: italic;
}

.post table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;

  & th,
  td {
    border: 1px solid #d7d7d7;
    padding: 6px 12px;
  }
}

.post-item {
  border-bottom: 1px solid #d7d7d7;
}

.post-title {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .post-title {
    font-size: 1.875rem;
    letter-spacing: normal;
    line-height: 1.2
  }
}

.post-date {
  color: #9ba6ad;
  font-size: 14px;
}

.post-tags {
  color: #2c343c;
  font-family: "Noto Serif", Georgia, serif;
  font-size: 0.88rem;
  font-style: italic;
}

.tags {
  font-style: italic;
}

footer {
  border-top: 1px solid #d7d7d7;
}

.site-info {
  font-size: 14px;
}